p {
  color: #482b82;
  font-weight: 800;
  font-size: 0.8rem;
}
p a {
  color: #120457;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

p a:hover {
  color: #482b82;
}

@media (max-width: 700px) {
  .container-form {
    padding: 30px 20px;
  }
  .label-float input {
    padding: 2px;
  }
  .label-float label {
    margin-top: 0px;
  }
  .label-float input:focus + label,
  .label-float input:valid + label {
    margin-top: -2px;
  }
  #error {
    font-size: 12px;
    border-radius: 4px;
  }
}

@media (max-width: 300px) {
  .container-form {
    border-radius: 25px;
    padding: 20px 5px;
    gap: 20px;
  }
}
@media (max-height: 600px) {
  .container-form {
    border-radius: 25px;
    padding: 20px 5px;
    gap: 20px;
  }
}
