body {
  max-width: 100vw;
  background-image: url("../Assets/background-ponte.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 20px;
  top: calc(10vh);
  right: calc(20vw - 10%);
}

button {
  margin: 0;
}
.container-text {
  width: 100%;
  position: absolute;
  top: 20vh;
}
.container-text div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.container-text h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #482b82;
  text-shadow: 2px 4px 4px #120457;
}
.container-text button {
  margin: 0;
}
hr {
  display: block;
  position: absolute;
  left: calc(50vw - 30%);
  margin: 0;
  padding: 0;
  max-width: 60%;
}

.container-form {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: calc(30vh);
  background-color: #ffffff60;
  padding: 5px 60px;
  gap: 20px;
  border: 1px solid #7e8ddb;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: #00000060 3px 3px 1px 0px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.label-float input {
  display: block;
  width: 20%;
}
.container-list {
  display: none;
  margin-top: 10px;
  width: 20%;
  position: absolute;
  background-color: #ffffff60;
  /* padding: 5px 60px; */
  gap: 20px;
  border: 1px solid #7e8ddb;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: #00000060 3px 3px 1px 0px;
  top: calc(35vh + 10px);
}

.divLi {
  display: grid;
  grid-template-rows: 4fr;
  align-items: center;
  margin-top: 5px;
  padding: 15px 120px;
  gap: 20px;
  /* background-color: #ffffff60; */
  /* border-top: 1px solid #7e8ddb; */
  border-bottom: 1px solid #7e8ddb;
  /* border-radius: 20px; */
  /* box-shadow: #00000060 3px 3px 1px 0px; */
}
ul {
  width: 150%;
  position: relative;
  left: -60px;
  margin-bottom: 10px;
  /* background-color: red; */
}
li:nth-child(even) {
  width: 100%;
  background-color: #33333340;
}
.divLi span {
  display: flex;
  flex-direction: row;
  gap: 20px;
  left: 60px;
  position: absolute;
  width: 90%;
  color: #120457;
}

.divLi input {
  display: block;
  width: 10%;
  border-radius: 100%;
  outline: none;
  position: absolute;
  left: 20px;
  accent-color: currentcolor;
}
.divLi button {
  padding: 4px 10px;
}
.divButton {
  display: block;
  position: absolute;
  right: 20px;
}
.fa-pencil,
.fa-trash {
  font-size: 16px;
  color: brown;
}
.fa-pencil {
  color: #00bb00;
}
#btnSalvarEditado {
  display: none;
  padding: 5px 8px;
  margin-left: 0;
}
#btnSalvarEditado:hover {
  background-color: #00bb0075;
}
li {
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}
