.container-form {
  position: relative;
}
#voltar {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  box-shadow: none;
}

button#voltar:hover {
  background-color: transparent;
  color: var(--color-shadow);
}

@media (max-height: 700px) {
  .container-form {
    padding: 30px;
  }
  .label-float input {
    padding: 2px;
  }
  .label-float label {
    margin-top: 0px;
  }
  .label-float input:focus + label,
  .label-float input:valid + label {
    margin-top: -2px;
  }
  #error {
    font-size: 12px;
    border-radius: 4px;
  }
}
